<div>
    <!-- <% if (locals.errors) { %>
      <div class="errors">
        Tienes que solucionar los siguientes errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %> -->
    <form class="form-style-1" action="<%= submitReviewPath %>" method="post">
      <% if (!review.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div  class="field">
        <label for="rating">Valoración</label>
        <select name="rating" id="category">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>
      </div>
      <div id="react-comment" data-comment="<%= review.comment %>"> </div>
      <input type="hidden" name="id_post" value="<%= postId %>"></input>
      <input type="hidden" name="id_worker" value="<%= currentUser.id %>"></input>
      <div  class="field">
        <% if (review.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>