<div>
    <% if (locals.errors) { %>
      <div class="errors">
        Tienes que solucionar los siguientes errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form class="form-style-1" action="<%= submitSearchingPostPath %>" method="post">
      <% if (!searchingPost.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div  class="field">
        <label for="name">Nombre</label>
        <input type="text" name="name" value="<%= searchingPost.name %>" />
      </div>
      <div  class="field">
        <label for="category">Categoría</label>
        <select name="category" id="category">
          <option value="General">General</option>
          <option value="Hogar">Hogar</option>
          <option value="Educación">Educación</option>
          <option value="Música">Música</option>
          <option value="Entretenimiento">Entretenimiento</option>
          <option value="Deportes">Deportes</option>
          <option value="Artes">Artes</option>
          <option value="Tele Trabajo">Tele Trabajo</option>
          <option value="Emprendimiento">Emprendimiento</option>
          <option value="Investigación">Investigación</option>
          <option value="Salud">Salud</option>
          <option value="Asesoría">Asesoría</option>
          <option value="Otros">Otros</option>

        </select>
      </div>
      <div  class="field">
        <label for="description">Descripción</label>
        <textarea type="text" name="description"><%= searchingPost.description %></textarea>
      </div>
      <div  class="field">
        <input type="hidden" name="userId" value=<%= currentUser.id %>></input>
      </div>
      <div  class="field">
        <% if (searchingPost.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>

  <form action="<%= backPath %>" method="get">
    <input type="submit" value="Back" />
  </form>
