<div class="search-container">
  <form action="/searchingPosts" class="search-form">
    <p>Search by:</p>
    <input type="radio" id="category" name="type" value="category" checked>
    <label for="category">Category</label><br>
    <input type="radio" id="name" name="type" value="name">
    <label for="name">Name</label><br>
    <input type="search" name="search" placeholder="Search...">
    <button type="submit" value="Search"><i class="fa fa-search"></i></button>
  </form>
</div>

<h2>Searching Posts</h2>
<% if (!searchingPostsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="searchingPosts-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Publication Date </th>
        
      </tr>
    </thead>
    <tbody>
      <% searchingPostsList.forEach((searchingPost) => { %>
        <tr>
          <td><a href="<%= showSearchingPostPath(searchingPost) %>"><%= searchingPost.name %></a></td>
          <td><%= searchingPost.category %></td>
          <td><%= searchingPost.createdAt %></td>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if (currentUser) { %><a href="<%= newSearchingPostPath %>">New Searching Post</a> <% } %>

<div> <a href="/">Back</a> </div>

