  <table id="searchingPosts-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>User Owner</th>
        <th>Publication Date </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= searchingPost.name %></td>
          <td><%= searchingPost.category %></td>
          <td><%= searchingPost.description %></td>
          <td><%= searchingPost.userId %></td>
          <td><%= searchingPost.createdAt %></td>
    </tbody>
  </table>
