<main class="post-show-container">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img src="<%= searchingPost.image%>">
  </div>

  <div class="right-column">

    <div class="post-description">
      <span>
        <a href="<%= userProfilePath(searchingPost.userId) %>">@<%= searchingPost.username %></a></span>

      <h1><%= searchingPost.name %></h1>

      <p><%= searchingPost.description %></p>

    </div>

    <div class="post-info">

      <div class="product-categories">
        <ul class="tags">
          <li><a href="#"><%= searchingPost.category %></a></li>
        </ul>
      </div>

      <div class="post-dates">
        <span>Creado el:
          <%= searchingPost.createdAt.getDate() + '-' + searchingPost.createdAt.getMonth() + '-' + searchingPost.createdAt.getFullYear() %></span>
      </div>

      <div class="owner-actions">
        <div class="post-price">
          <% if(currentUser && (currentUser.id == searchingPost.userId || currentUser.isAdmin)) { %>
          <a href="<%= editSearchingPostPath %>" class="action-btn"><img src="https://img.icons8.com/material-sharp/24/000000/edit.png"/>Editar</a>
          <form action="<%= deleteSearchingPostPath %>" method="POST" id="delete-post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">
              <img src="https://img.icons8.com/android/24/000000/trash.png"/>Eliminar
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </div>