<div>
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitReportPath %>" method="post">
    <% if (!postulation.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div  class="field">
      <label for="userId">User</label>
      <textarea type="number" name="userId"><%= postulation.userId %></textarea>
    </div>
    <div  class="field">
      <label for="offeringPost">Offering Post</label>
      <textarea type="number" name="offeringPost"><%= postulation.offeringPost %></textarea>
    </div>
    <div  class="field">
      <label for="content">Content</label>
      <textarea type="number" name="content"><%= postulation.content %></textarea>
    </div>
    <div  class="field">
      <% if (postulation.isNewRecord) { %>
        <input type="submit" name="create" value="Create" />
      <% } else { %>
        <input type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>