<head>
  <meta charset="utf-8">
  <title>freelancerCL</title>
  <% if (env !== 'development') { %>
    <link rel="stylesheet" href="<%= assetPath('app.css') %>">
  <% } %>
</head>
  <header>
      <!-- <div id="logo">
        <img id="freelancer-logo" src="<%= assetPath('logo.png') %>" alt="Logo" />
      </div> -->
     
  </header>

<body class="cover">
<img id="freelancer-fondo" src=https://freelancercl.sfo2.digitaloceanspaces.com/banner.png />
  <% if (currentUser) { %>
  <% if (!offeringPostsList.length) { %>
    <div id="main-banner">
      <h2>No tienes Publicaciones de Oferta</h2>
      <td><a href="#popupOffer" class="action-btn">Haz tu primera publicación de Oferta</a></td>
      <div class="container-all" id="popupOffer"> 
        <div class="popup">
            <div class="container-text">
              <%- include('offeringPosts/new') %>
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
        
      </div>
  <% }; %>

  <% if (!searchingPostsList.length) { %>
      <h2>No tienes Publicaciones de Búsqueda</h2>      
      <td><a href="#popupSearch" class="action-btn">Haz tu primera publicación de Búsqueda</a></td>
      <div class="container-all" id="popupSearch"> 
        <div class="popup">
            <div class="container-text">
              <%- include('searchingPosts/new') %>
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
        
      </div>
    </div>



  <% }; %>
  <% } %>

<div id="second-banner">
  <% if (!currentUser) { %>
      <h1>Estás solo a un click de expandir tu mundo laboral ¡Qué esperas!</h1>
      <td><a href="/users/new" class="action-btn">Registrarse</a></td>

      <h2>Si ya tienes una cuenta, inicia sesión.</h2>
      <td><a href="/session/new" class="action-btn">Iniciar Sesión</a></td>
    <% if (bestUsers.length) { %>
      <br>
      <h1 class="titles">En freelancercl Podrás interactuar con:</h1>

      <div class="slide-container">
        <% bestUsers.forEach((user) => { %>
        <div class="wrapper">
          
          <div class="clash-card barbarian">
            <div class="clash-card__image clash-card__image--barbarian">
              <img src="<%=user.imagePath%>" alt="UserImage"/>
            </div>
            <div class="clash-card__level clash-card__level--barbarian"><%= user.occupation %></div>
            <div class="clash-card__unit-name"><a href="<%= showUserPath(user) %>"><%= user.name %></a></div>
            <div class="clash-card__unit-description">
              <!-- The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He has Killer yellow horseshoe mustache. -->
            </div>
      
            <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
              <div class="one-third">
                <div class="stat"><%= user.rating %></div>
                <div class="stat-value">Rating</div>
              </div>
      
              <div class="one-third">
                <div class="stat"><%= user.cFollowers %></div>
                <div class="stat-value">Seguidores</div>
              </div>
      
              <div class="one-third no-border">
                <div class="stat"><%= user.cFollowed %></div>
                <div class="stat-value">Seguidos</div>
              </div>
      
            </div>
      
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
        <% }) %>
      </div> <!-- end container -->
      <% } %>

      <% if (bestOfferingPosts.length) { %>
        <h1 class="titles">... y encontrar las mejores Ofertas de empleo:</h1>
              <div class="slide-container">
                <% bestOfferingPosts.forEach((post) => { %>
                <div class="wrapper">
                  
                  <div class="clash-card barbarian">
                    <div class="clash-card__image clash-card__image--barbarian">
                      <img src="<%= post.img%>" alt="UserImage" />
                    </div>
                    <div class="clash-card__level clash-card__level--barbarian"><%= post.category %></div>
                    <div class="clash-card__unit-name"><a href="<%= showOfferingPostPath(post) %> "><%= post.name %></a></div>
                    <div class="clash-card__unit-description">
                      <!-- The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He has Killer yellow horseshoe mustache. -->
                    </div>
              
                    <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                      <div class="one-third">
                        <div class="stat"> <%= post.rating %></div>
                        <div class="stat-value">Rating</div>
                      </div>
              
                      <div class="one-third">
                        <div class="stat"><%= post.reviewsCount %></div>
                        <div class="stat-value">Reseñas</div>
                      </div>
              
                      <div class="one-third no-border">
                        <div class="stat"><%= post.applicationsCount %></div>
                        <div class="stat-value">Postulaciones</div>
                      </div>
              
                    </div>
              
                  </div> <!-- end clash-card barbarian-->
                </div> <!-- end wrapper -->
                <% }) %>
              </div> <!-- end container -->
        <% } %>


  <% } else {%>
  <br><br>

  <% if (offeringPostsFollowing.length) { %>
    <h1 class="titles">Ofertas de quienes sigues:</h1>
    <div class="slide-container">
      <% offeringPostsFollowing.forEach((post) => { %>
      <div class="wrapper">     
        <div class="clash-card barbarian">
          <div class="clash-card__image clash-card__image--barbarian">
            <img src="<%= post.img%>" alt="UserImage" />
          </div>
          <div class="clash-card__level clash-card__level--barbarian"><%= post.category %></div>
          <div class="clash-card__unit-name"><a href="<%= showOfferingPostPath(post) %> "><%= post.name %></a></div>
          <div class="clash-card__unit-description">
            <!-- The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He has Killer yellow horseshoe mustache. -->
          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
            <div class="one-third">
              <div class="stat"> <%= post.rating %></div>
              <div class="stat-value">Rating</div>
            </div>
    
            <div class="one-third">
              <div class="stat"><%= post.reviewsCount %></div>
              <div class="stat-value">Reseñas</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat"><%= post.applicationsCount %></div>
              <div class="stat-value">Postulaciones</div>
            </div>
    
          </div>
        </div> <!-- end clash-card barbarian-->
      </div> <!-- end wrapper -->
      <% }) %>
    </div> <!-- end container -->

    <% } %>
    <% if (searchingPostsFollowing.length) { %>
      <h1 class="titles" >Búsquedas de empleo de quienes sigues:</h1>
      <div class="slide-container">
        <% searchingPostsFollowing.forEach((post) => { %>
        <div class="wrapper">
          
          <div class="clash-card barbarian">
            <div class="clash-card__image clash-card__image--barbarian">
              <img src="<%= post.img%>" alt="UserImage" />
            </div>
            <div class="clash-card__level clash-card__level--barbarian"><%= post.category %></div>
            <div class="clash-card__unit-name"><a href="<%= showOfferingPostPath(post) %> "><%= post.name %></a></div>
            <div class="clash-card__unit-description">
              <%= post.description %>
            </div>
<!--       
            <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
              <div class="one-third">
                <div class="stat"></div>
                <div class="stat-value"></div>
              </div>
              <div class="one-third">
                <div class="stat"></div>
                <div class="stat-value"></div>
              </div>
      
              <div class="one-third no-border">
                <div class="stat"></div>
                <div class="stat-value"></div>
              </div>
      
            </div> -->
      
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
        <% }) %>
      </div> <!-- end container -->
              <br>
            <% }) %>        
      <% } %>

      <% if (!(offeringPostsFollowing || searchingPostsFollowing.length) || !(offeringPostsList.length && searchingPostsList.length)) { %>
      <% if (bestUsers.length) { %>
        <h1 class="titles">¡Sigue a otros freelancers!</h1>

        <div class="slide-container">
          <% bestUsers.forEach((user) => { %>
          <div class="wrapper">
            
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <img src="<%=user.imagePath%>" alt="UserImage" />
              </div>
              <div class="clash-card__level clash-card__level--barbarian"><%= user.occupation %></div>
              <div class="clash-card__unit-name"><a href="<%= showUserPath(user) %>"><%= user.name %></a></div>
              <div class="clash-card__unit-description">
                <!-- The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He has Killer yellow horseshoe mustache. -->
              </div>
        
              <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                <div class="one-third">
                  <div class="stat"> <%= user.cFollowers %></div>
                  <div class="stat-value">Seguidores</div>
                </div>
        
                <div class="one-third">
                  <div class="stat"><%= user.rating %></div>
                  <div class="stat-value">Rating</div>
                </div>
        
                <div class="one-third no-border">
                  <div class="stat"><%= user.cFollowed %></div>
                  <div class="stat-value">Seguidos</div>
                </div>
        
              </div>
        
            </div> <!-- end clash-card barbarian-->
          </div> <!-- end wrapper -->
          <% }) %>
        </div> <!-- end container -->
        <% } %>

      <% } %>
<% } %>
</div>
</body>
