<head>
  <meta charset="utf-8">
  <title>freelancerCL</title>
  <% if (env !== 'development') { %>
    <link rel="stylesheet" href="<%= assetPath('app.css') %>">
  <% } %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
  <header>
      <!-- <div id="logo">
        <img id="freelancer-logo" src="<%= assetPath('logo.png') %>" alt="Logo" />
      </div> -->
      <img id="freelancer-fondo" src="https://images.assetsdelivery.com/compings_v2/ruangwit/ruangwit1608/ruangwit160800047.jpg" width="1440" height="400"/>
  </header>
<body class="cover">
  <h1 id="welcome">Bienvenido a freelancerCL</h1>     

  <% if (currentUser) { %>
  <% if (!offeringPostsList.length) { %>
      <h2>No tienes Publicaciones de Oferta</h2>
      <td><a href="#popupOffer" class="enlaceboton">Haz tu primera publicación de Oferta</a></td>
      <div class="container-all" id="popupOffer"> 
        <div class="popup">
            <div class="container-text">
              <%- include('offeringPosts/new') %>
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
        
      </div>
  <% }; %>

  <% if (!searchingPostsList.length) { %>
      <h2>No tienes Publicaciones de Búsqueda</h2>      
      <td><a href="#popupSearch" class="enlaceboton">Haz tu primera publicación de Búsqueda</a></td>
      <div class="container-all" id="popupSearch"> 
        <div class="popup">
            <div class="container-text">
              <%- include('searchingPosts/new') %>
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
        
      </div>



  <% }; %>
  <% } %>


  <% if (!currentUser) { %>
      <h4>Estás solo a un click de expandir tu mundo laboral, ¡Qué esperas!</h4>
      <td><a href="#popupRegister" class="enlaceboton">Registrarse</a></td>
      <div class="container-all" id="popupRegister"> 
        <div class="popup">
            <div class="container-text">
              <%- include('users/new') %>
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
      </div>

      <br>
      <h4>Si ya tienes una cuenta, inicia sesión!</h4>
      <td><a href="#popupUser" class="enlaceboton">Iniciar Sesión</a></td>
      <div class="container-all" id="popupUser"> 
        <div class="popup">
            <div class="container-text">
              <%- include('session/new') %>
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
        
    </div>


  <% } %>

  <br><br>
  <% if (bestUsers.length) { %>
  <h2>Algunos de los usuarios destacados en freelancerCl</h2>
        <br>
        <% bestUsers.forEach((user) => { %>
          <div id="users-list"></div>
            <ol class="listHorizontal">
              <li><img class="user" src="<%= user.imagePath%>"></li>
              <li><a href="<%= showUserPath(user) %> "><%= user.name %></a></li>
              <li>Rating: <%= user.rating %></li>
              <li>Ocupación: <%= user.occupation %></li>
            </ol>
          </div>
          <br>
        <% }) %>
    
  <% } %>
</body>
