<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>freelancerCL</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <ul class="topnav">
      <li><a class="active" href="/">Home</a></li>
      <% if (currentUser)  { %>
      <li><a href="/users/<%= currentUser.id %> ">Mi Perfil</a></li>
      <% } %>
      <li><a href="/offeringPosts">Posts de Ofertas</a></li>
      <li><a href="/searchingPosts">Posts de Búsqueda</a></li>
      <% if (currentUser) { %>
        <% if( currentUser.isAdmin) { %>
          <li><a href="/reports">Denuncias</a></li>
          <% } %>
        <li><a href="/messages">Mensajes</a></li>
        <!-- <span class="name">Hi <%= currentUser.name %></span> -->
        
      <% } else { %>
        <!-- <span class="name">Hi!</span> -->
      <% } %>
      <% if (!currentUser) { %>
        <li class="right"><a href="<%= newSessionPath %>">Login</a></li>
        <li class="right"><a href="<%= newRegisterPath %>">Registro</a></li>
      <% } else { %>
        <form action="<%= destroySessionPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <li class="right">
            <input type="submit" value="Logout" />
          </li>
        </form> 
      <% } %>
      <!-- <div class="search-container">
        <form action="/searchResults" class="search-form">
          
          <input type="checkbox" name="togBtn" id="togBtn">
          <input type="search" name="search" placeholder="Search...">
          <button type="submit" value="Search"><i class="fa fa-search"></i></button>
        </form>
      </div> -->


    </ul>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
    <!-- <input type="button" value="Back" onclick="history.back()"/> -->
  </body>

</html>
