<div class="form-center">
    <!-- <% if (locals.errors) { %>
      <div class="errors">
        Tienes que solucionar los siguientes errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %> -->
    <form class="form-style-1" action="<%= submitOfferingPostPath %>" method="post">
      <% if (!offeringPost.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div id="react-name" data-name="<%= offeringPost.name %>"> </div>
      <div  class="field">
        <label for="category">Categoría</label>
        <select name="category" id="category">
          <option value="General">General</option>
          <option value="Hogar">Hogar</option>
          <option value="Educación">Educación</option>
          <option value="Música">Música</option>
          <option value="Entretenimiento">Entretenimiento</option>
          <option value="Deportes">Deportes</option>
          <option value="Artes">Artes</option>
          <option value="Tele Trabajo">Tele Trabajo</option>
          <option value="Emprendimiento">Emprendimiento</option>
          <option value="Investigación">Investigación</option>
          <option value="Salud">Salud</option>
          <option value="Asesoría">Asesoría</option>
          <option value="Otros">Otros</option>

        </select>
      </div>
      <div id="react-description" data-description="<%= offeringPost.description %>"></div>
      <div id="react-price" data-price="<%= offeringPost.price %>"></div>
      <div id="react-endsAt"></div> 

      <div  class="field">
        <input type="hidden" name="userId" value=<%= currentUser.id %>></input>
      </div>
      <div  class="field">
        <% if (offeringPost.isNewRecord) { %>
          <input type="submit" name="create" class="action-btn" value="Create" />
        <% } else { %>
          <input type="submit" name="update" class="action-btn" value="Update" />
        <% } %>
      </div>
    </form>
  </div>