<div class="search-container">
  <form action="/offeringPosts" class="search-form">
    <p>Search by:</p>
    <input type="radio" id="category" name="type" value="category" checked>
    <label for="category">Category</label><br>
    <input type="radio" id="name" name="type" value="name">
    <label for="name">Name</label><br>
    <input type="search" name="search" placeholder="Search...">
    <button type="submit" value="Search"><i class="fa fa-search"></i></button>
  </form>
</div>

<h2>Offering Posts</h2>
<% if (!offeringPostsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="offeringPosts-list">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>End Date </th>
      </tr>
    </thead>
    <tbody>
      <% offeringPostsList.forEach((offeringPost) => { %>
        <tr>
        <td><% if (offeringPost.img) { %> <img class="user" src="<%= offeringPost.img%>"> <% } %></td>
          <td><a href="<%= showOfferingPostPath(offeringPost) %> "><%= offeringPost.name %></a></td>
          <td><%= offeringPost.category %></td>
          <td><%= offeringPost.endsAt %></td>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if(currentUser) {%><a href="<%= newOfferingPostPath %>">New Offering Post</a><% } %>
<div> <a href="/">Back</a> </div>

