<h2>Offering Posts</h2>
<% if (!offeringPostsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="offeringPosts-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>End Date </th>
      </tr>
    </thead>
    <tbody>
      <% offeringPostsList.forEach((offeringPost) => { %>
        <tr>
          <td><a href="<%= showOfferingPostPath(offeringPost) %> "><%= offeringPost.name %></a></td>
          <td><%= offeringPost.category %></td>
          <td><%= offeringPost.endsAt %></td>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<a href="<%= newOfferingPostPath %>">New Offering Post</a>

