<div class="search-container">
  <form action="/offeringPosts" class="search-form">
    <div class="dropdown">
      <select class="dropbtn" name="category" id="category" class="custom-select sources" placeholder="Categoría">
        <option value="Todo">Todas las categorías</option>
        <option value="General">General</option>
        <option value="Tecnología">Tecnología</option>
      </select>
    </div>
      <br><br>
    <input type="text" name="search" placeholder="Buscar Post...">
    <div type="submit" value="Search" class="search"></div>
  </form>
</div>

<h2>Posts de Ofertas</h2>
<% if (!searchResult.length) { %>
  <p>No hay resultados</p>
<% } else { %>
  <br>
  <% searchResult.forEach((offeringPost) => { %>
    <div id="offeringPosts-list"></div>
      <ol class="listHorizontal">
        <li><% if (offeringPost.item.img) { %> <img class="user" src="<%= offeringPost.item.img%>"> <% } %></li>
        <li><a href="<%= showOfferingPostPath(offeringPost) %> "><%= offeringPost.item.name %></a></li>
        <li>Fecha publicación: <%= offeringPost.item.createdAt %></li>
      </ol>
    </div>
    <br>
  <% }) %>
<% } %>

<% if(currentUser) {%><a href="<%= newOfferingPostPath %>">Nuevo post de oferta</a><% } %>
<div> <a href="/">Atrás</a> </div>

