<h2>Offering Posts</h2>
<% if (!offeringPostsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="offeringPosts-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>User Owner</th>
        <th>Publication Date </th>
        <th>End Date </th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% offeringPostsList.forEach((offeringPost) => { %>
        <tr>
          <td><%= offeringPost.name %></td>
          <td><%= offeringPost.category %></td>
          <td><%= offeringPost.description %></td>
          <td><%= offeringPost.userId %></td>
          <td><%= offeringPost.createdAt %></td>
          <td><%= offeringPost.endsAt %></td>
          
          <td><a href="<%= editOfferingPostPath(offeringPost) %>">Edit</a></td>
          <td>
          <form action="<%= deleteOfferingPostPath(offeringPost) %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<a href="<%= newOfferingPostPath %>">New Offering Post</a>

