<h2>Offering Posts</h2>
  <table id="offeringPosts-list">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>User Owner</th>
        <th>Publication Date </th>
        <th>End Date </th>
        <% if(currentUser && (currentUser.id == offeringPost.userId || currentUser.isAdmin)) { %>
        <th colspan="4">Actions</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><% if (offeringPost.img) { %> <img class="user" src="<%= offeringPost.img%>"> <% } %></td>
          <td><%= offeringPost.name %></td>
          <td><%= offeringPost.category %></td>
          <td><%= offeringPost.description %></td>
          <td><a href="<%= userProfilePath(offeringPost.userId)%>"><%= offeringPost.username %></a></td>
          <td><%= offeringPost.createdAt %></td>
          <td><%= offeringPost.endsAt %></td>
          <td><a href="<%= reportPostPath %>">Report Post</a></td>
          <% if(currentUser && (currentUser.id == offeringPost.userId || currentUser.isAdmin)) { %>
          <td><a href="<%= editOfferingPostPath %>">Edit</a></td>
          <td>
          <form action="<%= deleteOfferingPostPath %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
          <td>
            <form action="<%= submitFilePath %>" enctype="multipart/form-data" method="post">
                  <div class="field">
                    <label for="img">Select Picture</label>
                    <input type="file" name="img" />
                  </div>
                  <div class="field">
                    <input type="submit" name="uploadFile" value="Upload" />
                  </div>
              </form>
          </td>
          <% } %>
        </tr>
    </tbody>
  </table>

  <h2>Reviews</h2>
<% if (!reviewsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="reviews-list">
    <thead>
      <tr>
        <th>WorkerID</th>
        <th>Rating</th>
        <th>Comment</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% reviewsList.forEach((review) => { %>
        <tr>
          <td><a href="<%= userProfilePath(review.id_worker)%>"><%= review.username %></a></td>
          <td><%= review.rating %></td>
          <td><%= review.comment %></td>
          <% if(currentUser && (currentUser.id == offeringPost.userId || currentUser.isAdmin)) { %>
          <td><a href="<%= editReviewPath(review) %>">Edit</a></td>
          <td>
            <form action="<%=deleteReviewPath(review) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if(currentUser) { %><a href="<%= newReviewPath %>">New Review</a> <% } %>
<% if(currentUser && (currentUser.id == offeringPost.userId || currentUser.isAdmin)) { %>
<h2>Applications</h2>
<% if (!applicationsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="applications-list">
    <thead>
      <tr>
        <th>User</th>
        <th>Content</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% applicationsList.forEach((application) => { %>
        <tr>

          <td><a href="<%= userProfilePath(application.userId)%>"><%= application.username %></a></td>
          <td><%= application.content %></td>
          <td><a href="<%= editApplicationPath(application) %>">Edit</a></td>
          <td>
            <form action="<%= deleteApplicationPath(application) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
<%} %>
<% if (currentUser) { %> <a href="<%= newApplicationPath %>">New Application</a> <% }%>

<form action="<%= backPath %>" method="get">
  <input type="submit" value="Back" />
</form>