<div>
  <!-- <% if (locals.errors) { %>
    <div class="errors">
      Tienes que solucionar los siguientes problemas:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %> -->
  <form class="form-style-1" action="<%= submitApplicationPath %>" method="post">
    <% if (!application.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div id="react-content" data-name="<%= application.content %>" > </div>

    <input type="hidden" name="offeringPostId" value="<%=postId%>"></input>
    <input type="hidden" name="userId" value="<%=currentUser.id%>"></input>
    <div  class="field">
      <% if (application.isNewRecord) { %>
        <input type="submit" name="create" value="Create" />
      <% } else { %>
        <input type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>