<div>
    <% if (locals.notice) { %>
      <div className="notice"><%= notice %></div>
    <% } %>
    <div class="center-head">
        <h2>Iniciar Sesión</h2>
    </div>
    
    <% if (locals.error) { %>
        <div class="errors">
            <%= error %>
        </div>
    <% } %>
    <form class="form-style-1" action="<%= createSessionPath %>" method="post">
        <input type="hidden" name="_method" value="put" />
        <div  class="field">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= locals.email %>" />
        </div>
        <div  class="field">
            <label for="password">Contraseña</label>
            <input type="password" name="password" value="<%= locals.password %>" />
        </div>
        <div  class="field">
            <input type="submit" name="sign-in" value="Sign In" />
        </div>
    </form>

</div>