<table id="reports-list">
  <thead>
    <tr>
      <th>Título</th>
      <th>Contenido</th>
      <th>Usuario que denuncia</th>
      <th>Usuario dueño de post denunciado</th>
      <th>Post denunciado</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.content %></td>
        <td><a href="<%= userProfilePath(report.reportingUserId) %>"><%= report.reportingUserName %></a></td>
        <td><a href="<%= userProfilePath(report.reportedUserId) %>"><%= report.reportedUserName %></a></td>
        <td><a href="<%= postPath(report.reportedPost) %>"><%= report.reportedPostName %></a></td>
        <td><a href="<%= editReportPath %>"><img src="https://img.icons8.com/material-sharp/24/000000/edit.png"/>Editar</a></td>
          <td>
            <form action="<%= deleteReportPath %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <button>
                <img src="https://img.icons8.com/material-sharp/24/000000/trash.png"/>Eliminar
              </button>
            </form>
          </td>
  </tbody>
</table>
