<div class="form-center">
  <% if (locals.errors) { %>
    <div class="errors">
        <% errors.forEach(error => { %>
          <li class="validationError"><%= error.message %></li>
        <% }); %>
    </div>
  <% } %>
  <form class="form-style-1" action="<%= submitUserPath %>" method="post">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <% if (!currentUser) { currentUser = {};}%>
    <div id="react-name" data-name="<%= currentUser.name %>" > </div>
    <div id="react-email" data-email="<%= currentUser.email %>"> </div>
    <div id="react-occupation" data-occupation="<%= currentUser.occupation %>"> </div>
    <div id="react-confirmPassword"> </div>
    <div  class="field">
      <% if (user.isNewRecord) { %>
        <input type="submit" name="create" value="Registrar" />
      <% } else { %>
        <input type="submit" name="update" value="Actualizar" />
      <% } %>
    </div>
  </form>
</div>
