<div class="search-container">
  <form action="/users" class="search-form">
    <input type="text" name="search" placeholder="Buscar Usuario...">
    <div type="submit" value="Search" class="search"></div>
  </form>
</div>
<h2>Usuarios</h2>
<% if (!searchResult.length) { %>
  <p>No hay resultados</p>
<% } else { %>

  <br>
  <% searchResult.forEach((user) => { %>
    <div id="users-list"></div>
      <ol class="listHorizontal">
        <li><img class="user" src="<%= user.imagePath%>"></li>
        <li><a href="<%= showUserPath(user) %> "><%= user.name %></a></li>
        <li><%= user.email %></li>
        <li>Rating: <%= user.rating %></li>
        <li>Ocupación: <%= user.occupation %></li>
      </ol>
    </div>
    <br>
  <% }) %>

<% } %>

<div> <a href="/">Atrás</a> </div>
