<div class="search-container">
  <form action="/users" class="search-form">
    <p>Search by:</p>
    <input type="radio" id="email" name="type" value="email" checked>
    <label for="email">Email</label><br>
    <input type="radio" id="name" name="type" value="name">
    <label for="name">Name</label><br>
    <input type="search" name="search" placeholder="Search...">
    <button type="submit" value="Search"><i class="fa fa-search"></i></button>
  </form>
</div>
<h2>Users</h2>
<% if (!usersList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="users-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Rating</th>
        <th>Image</th>
        <th>Occupation</th>
        
      </tr>
    </thead>
    <tbody>
      <% usersList.forEach((user) => { %>
        <tr>
          <td><a href="<%= showUserPath(user) %> "><%= user.name %></a></td>
          <td><%= user.email %></td>
          <td><%= user.rating %></td>
          <td><%= user.imagePath %></td>
          <td><%= user.occupation %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if (currentUser) { %>
  <a href="<%= newUserPath %>">New User</a>
<% } %>