<h2>Users</h2>
<% if (!usersList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="users-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Rating</th>
        <th>CV</th>
        <th>Image</th>
        <th>Occupation</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% usersList.forEach((user) => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.rating %></td>
          <td><%= user.cvPath %></td>
          <td><%= user.imagePath %></td>
          <td><%= user.occupation %></td>
          <% if (currentUser) { %>
            <td><a href="<%= editUserPath(user) %>">Edit</a></td>
            <td>
              <form action="<%= deleteUserPath(user) %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" />
              </form>
            </td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if (currentUser) { %>
  <a href="<%= newUserPath %>">New User</a>
<% } %>