  <table id="users-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Rating</th>
        <th>CV</th>
        <th>Image</th>
        <th>Occupation</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.rating %></td>
          <!-- <td><%= user.cvPath %></td> -->
          <td><a href="<%= downloadCvPath %>"> CV</a></td>
          <td><%= user.imagePath %></td>
          <td><%= user.occupation %></td>
        </tr>
    </tbody>
  </table>

  <% if (currentUser) { %>
    <form action="<%= submitCvPath %>" enctype="multipart/form-data" method="post"> Upload CV
      <div class="field">
        <label for="CV">Select file</label>
        <input type="file" name="CV" />
      </div>
      <div class="field">
        <input type="submit" name="uploadCv" value="Upload" />
      </div>
    </form>  <% } %>