<div class="general">
<!DOCTYPE html>
<body>
	<div class="profile-main">
		<div class="profile-header">
			<div class="user-detail">
				<div class="user-image">
          <% if (user.imagePath) { %><img class="user" src="<%= user.imagePath %>" ><% } %>
				</div>
				<div class="user-data">
					<h2><%= user.name %></h2>
					<span class="post-label"><%= user.occupation %></span>
          </p>
          <% if (currentUser && (currentUser.id == user.id || currentUser.isAdmin)) { %>
            <a href="<%= editUserPath %>">Editar</a>
          <% } %>
          <% if (currentUser.id == user.id) { %>
          <form action="<%= destroySessionPath %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" class="action-btn" value="Logout" />
            <a href="<%= linkedin %>">Connect Linkedin</a>
          </form> 
          <% } %>
				</div>
			</div>
			<div class="tab-panel-main">
				<ul class="tabs">
					<li class="tab-link current" data-tab="Basic-detail">Detalles</li>
					<li class="tab-link" data-tab="Edu-detail">Ofertas</li>
					<li class="tab-link" data-tab="Portfolio">Búsquedas</li>
				</ul>
				<div id="Basic-detail" class="tab-content current">
          <div id="react-follower" ></div>
					<div class="bio-box">
						<div class="heading">
							<p>Información de Contacto
              <label><%= user.email %></label></p>
              <% if (currentUser && currentUser.id == user.id && user.linkedinData) { %>
                <h2>Información de Linkedin</h2>
                <p><%= user.linkedinData%></p>
              <% } %>
						</div>
						<div class="desc">
            <% if (currentUser && currentUser.id == user.id) { %>
              <form action="<%= submitFilePath %>" enctype="multipart/form-data" method="post">
                <div class="field">
                  <% if (currentUser.cvPath) {%>
                    <label for="CV">Actualizar CV</label>
                  <% } else {%>
                    <label for="CV">Seleccionar CV</label>
                  <% } %>
                  <input type="file" name="CV" id="CV"/>
                  <a href="#popupSearch" value="Vista Previa" type="button" onclick="PreviewImage();"> Vista Previa</a>
                </div>
                <div class="field">
                  <% if (currentUser.imagePath) {%>
                    <label for="CV">Actualizar Foto de Perfil</label>
                  <% } else {%>
                    <label for="CV">Seleccionar Foto de Perfil</label>
                  <% } %>                  
                  <input type="file" name="img" />
                </div>
                <div class="field">
                  <input class="action-btn"type="submit" name="uploadFile" value="Subir" />
                </div>
                </form> 
            <% } %>
          </div>
					</div>
					<div class="detail-box">
            <p><a href="<%= user.cvPath %>">Descargar CV</a></p>
						<ul class="ul-first">
              <% if (user.cvPath) { %> 
                <embed src="<%= user.cvPath %>" type="application/pdf" width="100%" height="65px"/>
     
              <% } else {%>
                <li>Sin Currículum </li>
              <% } %>
						</ul>
					</div>
				</div>
				<div id="Edu-detail" class="tab-content">
					<div class="Edu-box-main">
             <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Ofertas</h2>

                <% if (!offeringPostsList.length && currentUser && currentUser.id == user.id) { %>
                  <ul  class="ul-first">
                  <span>No tienes Publicaciones de Oferta</span>
                  <a href="<%= newOfferingPostPath %> "> Haz tu primera publicación de Oferta!</a>
                  </ul>
                  <% } else { %>
                       <% offeringPostsList.forEach((offeringPost) => { %>
                        <table>
                        <td><% if (offeringPost.img) { %> <img class="user" src="<%= offeringPost.img%>"> <% } %></td>
                          <td><span><a href="<%= showOfferingPostPath(offeringPost) %> "><%= offeringPost.name %></a></span></td>
                          <p><td><%= offeringPost.category %></td></p>
                          <td><%= offeringPost.createdAt.getDate() + '-' + offeringPost.createdAt.getMonth() + '-' + offeringPost.createdAt.getFullYear() %></td>
                        </table>
                      <% }) %>
                <% } %>

					</div>
        </div>
        <div id="Portfolio" class="tab-content">
					<div class="Edu-box-main">
             <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Búsquedas de Empleo</h2>

                <% if (!searchingPostsList.length && currentUser && currentUser.id == user.id) { %>
                  <ul  class="ul-first">
                  <span>No tienes Publicaciones de Búsqueda</span>
                  <a href="<%= newSearchingPostPath %> "> Haz tu primera publicación Buscando empleo!</a>
                  </ul>
                  <% } else { %>      
                       <% searchingPostsList.forEach((searchingPost) => { %>
                        <table>
                        <td><% if (searchingPost.img) { %> <img class="user" src="<%= searchingPost.img%>"> <% } %></td>
                          <td><a href="<%= showSearchingPostPath(searchingPost) %> "><%= searchingPost.name %></a></td>
                          <td><%= searchingPost.category %></td>
                          <td><%= searchingPost.createdAt.getDate() + '-' + searchingPost.createdAt.getMonth() + '-' + searchingPost.createdAt.getFullYear() %></td>
                        </table>
                      <% }) %>
                <% } %>
					</div>
        </div>
				
			</div>
		</div>
		<div style="clear: both;"></div>

  </div>
  
 <div class="container-all" id="popupSearch"> 
   <div class="popup" id="popupCv">
       <div class="container-text">
        <div style="clear:both" class="cvPdf" margin= "auto" display="block" margin-left="auto" margin-right="auto">
          <iframe id="viewer" frameborder="0" scrolling="no" height="400px" width="300px"></iframe>
          <img id="viewerDefault" height="400px" ></img>
       </div>
       </div>
       <a href="#" class="btn-close-popup">X</a>
   </div>
   
  </div>
</body>
</div>
