  <table id="users-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Rating</th>
        <th>CV</th>
        <th>Image</th>
        <th>Occupation</th>
        <% if (currentUser.id == user.id || currentUser.isAdmin) { %>
        <th colspan="2">Actions</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.rating %></td>
          <td><%= user.cvPath %></td>
          <td><%= user.imagePath %></td>
          <td><%= user.occupation %></td>
          <% if (currentUser.id == user.id || currentUser.isAdmin) { %>
            <td><a href="<%= editUserPath %>">Edit</a></td>
            <td>
              <form action="<%= deleteUserPath %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" />
              </form>
            </td>
          <% } %>
        </tr>
    </tbody>
  </table>