<!DOCTYPE html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="profile-main">
		<div class="profile-header">
			<div class="user-detail">
				<div class="user-image">
          <% if (user.imagePath) { %><img class="user" src="<%= user.imagePath %>" ><% } %>
				</div>
				<div class="user-data">
					<h2><%= user.name %></h2>
					<span class="post-label"><%= user.occupation %></span>
          </p>
          <% if (currentUser && (currentUser.id == user.id || currentUser.isAdmin)) { %>
            <a href="<%= editUserPath %>">Editar</a>
          <% } %>
          <% if (currentUser && currentUser.id != user.id && !follow) { %>
              <form action="<%= followPath %>" method="post">
                  <input type="submit" value="Seguir" />
              </form>
          <% } else if (currentUser && currentUser.id != user.id && follow) { %>
              <form action="<%= followPath %>" method="post">
                  <input type="submit" value="Dejar de Seguir" />
              </form>
          <% } %>
				</div>
				<div class="social-icons">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-google"></i>
					<i class="fa fa-instagram"></i>
				</div>
			</div>
			<div class="tab-panel-main">
				<ul class="tabs">
					<li class="tab-link current" data-tab="Basic-detail">Detalles</li>
					<li class="tab-link" data-tab="Edu-detail">Ofertas</li>
					<li class="tab-link" data-tab="Portfolio">Búsquedas</li>
				</ul>
				<div id="Basic-detail" class="tab-content current">
					<div class="skill-box">
					  <ul>
              <li><strong>Ocupación:</strong></li>
              <li><%= user.occupation %></li>
              <li><strong>Valoración:</strong></li>
              <% if (typeof user.rating == "number") {%>
                <% for(let i=0; i < user.rating; i++) {%>                
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <% } %>
              <% } else {%>
                <li>Sin Valoraciones</li>
              <% } %> 
            </ul>		
					</div>
					<div class="bio-box">
						<div class="heading">
							<p>Información de Contacto
							<label><%= user.email %></label></p>
						</div>
						<div class="desc">
            <% if (currentUser && currentUser.id == user.id) { %>
              <form action="<%= submitFilePath %>" enctype="multipart/form-data" method="post">
                <div class="field">
                  <label for="CV">Selecciona CV</label>
                  <input type="file" name="CV" />
                </div>
                <div class="field">
                  <label for="img">Selecciona foto de perfil</label>
                  <input type="file" name="img" />
                </div>
                <div class="field">
                  <input class="action-btn"type="submit" name="uploadFile" value="Upload" />
                </div>
                </form> 
            <% } %>
          </div>
					</div>
					<div class="detail-box">
						<p>Descargar Currículum</p>
						<ul class="ul-first">
              <% if (user.cvPath) { %> 
                <li><a href="<%= user.cvPath %>">Descargar CV</a></li> 
              <% } else {%>
                <li>Sin Currículum </li>
              <% } %>
						</ul>
					</div>
				</div>
				<div id="Edu-detail" class="tab-content">
					<div class="Edu-box-main">
             <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Ofertas</h2>

                <% if (!offeringPostsList.length && currentUser && currentUser.id == user.id) { %>
                  <ul  class="ul-first">
                  <span>No tienes Publicaciones de Oferta</span>
                  <a href="<%= newOfferingPostPath %> "> Haz tu primer post de Oferta!</a>
                  </ul>
                  <% } else { %>
                       <% offeringPostsList.forEach((offeringPost) => { %>
                        <table>
                        <td><% if (offeringPost.img) { %> <img class="user" src="<%= offeringPost.img%>"> <% } %></td>
                          <td><span><a href="<%= showOfferingPostPath(offeringPost) %> "><%= offeringPost.name %></a></span></td>
                          <p><td><%= offeringPost.category %></td></p>
                          <td><%= offeringPost.createdAt.getDate() + '-' + offeringPost.createdAt.getMonth() + '-' + offeringPost.createdAt.getFullYear() %></td>
                        </table>
                      <% }) %>
                <% } %>
                                <% if (!searchingPostsList.length) {%>
                  <span>Sin Publicaciones de Búsqueda</span>
                <% } %>
					</div>
        </div>
        <div id="Portfolio" class="tab-content">
					<div class="Edu-box-main">
             <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Búsquedas de Empleo</h2>

                <% if (!searchingPostsList.length && currentUser && currentUser.id == user.id) { %>
                  <ul  class="ul-first">
                  <span>No tienes Publicaciones de Búsqueda</span>
                  <a href="<%= newOfferingPostPath %> "> Haz tu primer post de Oferta!</a>
                  </ul>
                  <% } else { %>
                        
                       <% searchingPostsList.forEach((searchingPost) => { %>
                        <table>
                        <td><% if (searchingPost.img) { %> <img class="user" src="<%= searchingPost.img%>"> <% } %></td>
                          <td><a href="<%= showSearchingPostPath(searchingPost) %> "><%= searchingPost.name %></a></td>
                          <td><%= searchingPost.category %></td>
                          <td><%= searchingPost.createdAt.getDate() + '-' + searchingPost.createdAt.getMonth() + '-' + searchingPost.createdAt.getFullYear() %></td>
                        </table>
                      <% }) %>
                <% } %>
                <% if (!searchingPostsList.length) {%>
                  <span>Sin Publicaciones de Búsqueda</span>
                <% } %>
                

					</div>
        </div>
				
			</div>
		</div>
		<div style="clear: both;"></div>

	</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs li').click(function(){
			var tab_id = $(this).attr('data-tab');

			$('ul.tabs li').removeClass('current');
			$('.tab-content').removeClass('current');

			$(this).addClass('current');
			$("#"+tab_id).addClass('current');
		});
	});
</script>
</body>


